<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login App index</title>
</head>
<body>
    Index page here
    {{user.username}}
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>